
html,
body {
    margin: 0;
    background-color: #F1F6F9;
    font-family: 'Roboto', sans-serif;
    color: #2D4356;
}

label {
    font-weight: 600;
}


.modify .sizes h3,
p {
    margin: 0;
}

.cups h3,
img,
p {
    pointer-events: none;
}

.cart {
    display: flex;
    height: 100vh;
}

.cartItems,
.shipping {
    width: 65%;
    background-color: #f4f6f7;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: scroll;
    overflow-x: hidden;
}

.shipping {
    padding: 20px 0px;
}

.shippingContainer {
    padding: 0px 16px;
}

.checkout {
    width: 35%;
    background-color: #242c39;
}

.checkout {
    color: #f4f6f7;
    text-align: left;
}

.checkout div {
    padding: 0 20px;
}

.checkout h5,
.checkout h3 {
    margin: 5px 0;
    padding: 0;
}

.checkout .listItem {
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-x: hidden;
}


.btnContainer {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.checkoutBt,
.backToHome {
    cursor: pointer;
    padding: 1px 12px 1px 12px;
    border: 0;
    background: #f4f6f7;
    color: #242c39;
    width: 180px;
    height: 45px;
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}


.checkout .total {
    display: flex;
    justify-content: space-between;
}

.cktCtn {
    bottom: 15px;
    position: absolute;
    width: 30%;
    padding: 0 !important;
}

.signingContainer input,
.shippingContainer input {
    height: 30px;
    border: 0;
    border-bottom: 1px solid #242c39;
    width: 100%;
    font-family: inherit;
}

.signingContainer select,
.shippingContainer select {
    height: 30px;
    border: 0;
    border-bottom: 1px solid #242c39;
    width: 100%;
    font-family: inherit;
    background-color: #f4f6f7;
}

.shippingContainer span {
    /* width: 101%; */
    /* margin: 10px 10px; */
}

.shippingContainer input {
    /* width: 50%; */
    background-color: #f4f6f7;
    display: flex;
    flex-direction: column;
}

.shippingContainer .name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.shippingContainer .name span {
    width: 45%;
}


.required {
    color: red;
}


.shippingContainer .address p {
    margin-bottom: 25px !important;
}

.shippingContainer .area {
    display: flex;
    justify-content: space-between;
}

.shippingContainer .area span {
    width: 30%;
}


.errorText {
    color: red;
    font-size: 14px;
    text-align: start;
    margin: unset !important;
}

